/* 重置样式 */

@import "variables";

// 字体
* {
	-webkit-tap-highlight-color: transparent;
	touch-action: pan-y;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
		"Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
		sans-serif;
}

// 边距
body,
html,
section,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
div,
span,
input,
textarea,
select,
button {
	margin: 0;
	padding: 0;
}

// 表单
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
// input[type="radio"],
// input[type="checkbox"],
textarea,
select {
	appearance: none;
}

input[type='radio'],
input[type='checkbox'],
button {
	cursor: pointer;
}

// 其它
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $color-default;
}